.carousel-title{
	text-align: center;
	margin-bottom: 60px;
}

.carousel-indicators{
	position: static;
	text-align: center;
	margin-top: 60px;
	li{
		width: 15px;
		height: 15px;
		border-radius: 50%;
		background-color: #dbdbdb;
		border: 1px solid transparent;
	}
	li.active{
		background-color: $primary;
	}
}