.sidebar-block{
	background: $white;
	border: 1px solid $pattens-blue;
	padding: 1.5625rem;

	& + .sidebar-block{
		margin-top: 30px;
	}

	h4{
		padding-bottom: 20px;
		margin-bottom: 30px;
		border-bottom: 1px solid $pattens-blue;
	}

	.card{
		border: none;
		box-shadow: none;

		& + .card{
			margin-top: 30px;
			border-top: 1px solid $pattens-blue;
			padding-top: 30px;
		}

		&-body,
		&-footer{
			padding-left: 0;
			padding-right: 0;
		}

		&-footer{
			border-top: none;			

			.card-author-img{
				margin-right: 6px;
			}			
		}

		&-title{
			font-size: 1rem;
		}

		&-price,
		&-title{
			font-weight: $font-weight-bold;
			color: $dark;
		}
	}

	.listing{
		li{
			font-size: 0.9375rem;
		}
	}

	.product-info{
		color: $gray-600;
		font-size: 14px;

		&-title{			
			font-weight: $font-weight-medium;
			color: $dark;
		}

		li{
			margin-bottom: 25px;
		}	
	}

	.shield {
		position: relative;
		width: 31px;
		height: 30px;
		display: flex;
		align-items: flex-end;
		justify-content: center;
		border-radius: 0 0 2px 2px;
		i{
			font-size: 20px;
			color: $white;
			z-index: 100;
		}

		&:before, &:after {
		    content:"";
		    border-radius: 0;
		    border-top-right-radius: 100% 100%;
		    border-bottom-right-radius: 125% 100%;
		    width: 18.825px;
		    height: 20px;
		    transform-origin: bottom left;
		    transform: scale(1,1) translateX(10px) rotate(-20deg);
		    position:absolute;
		    bottom:-40.5%;
		    z-index: 1;
		}

		&:after {transform: scale(-1,1) translateX(-9px) rotate(-20deg);}
	}
	.bg-light-orange, .bg-light-orange:before, .bg-light-orange:after {background: $light-orange;}
	.bg-secondary, .bg-secondary:before, .bg-secondary:after {background: $secondary;}
	.bg-twitter, .bg-twitter:before, .bg-twitter:after {background: $twitter;}
	.bg-light-green, .bg-light-green:before, .bg-light-green:after {background: $light-green;}
	.bg-cyan-200, .bg-cyan-200:before, .bg-cyan-200:after {background: $cyan-200;}
}

.sidebar-block-author{
	display: flex;
	.img-wrapper{
		overflow: hidden;
		width: 92px;
		height: 82px;

		img{
			width: 100%;
			height: auto;
		}
	}

	&-content{
		margin-left: 1rem;

		h5{
			color: $dark;
			font-weight: $font-weight-normal;
		}

		.btn{
			color: $gray-900;
			background-color: transparent;
			border-radius: 0;
			border-color: $light-gray;
			padding: 4px 12px;
			font-size: 13px;

			&:hover{
				color: $primary;
				border-color: $primary;
			}
		}
	}
}