// Headings
h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6{
	&:last-child{
		margin-bottom: 0;
	}
}

h1, h2, h4, .h1, .h2, .h4{
	font-weight: $heading-4-font-weight;
}

h1{
	color: $white;
}

// Links
a,
a:hover{
	transition: 0.2s;
}

a.disabled {
  pointer-events: none;
}

a.botticelli-primary{
	color: $botticelli;
	&:hover{
		color: $primary;
	}
}

.link-dark{
	color: $dark;
	&:hover{
		color: $primary;
	}
}


// Texts
p:last-of-type{
	margin-bottom: 0;
}

// Lists
.inline-list{
	list-style: none;
	padding-left: 0;
	margin-bottom: 0;
}

.listing{
	list-style: none;
	padding-left: 0;
	margin-bottom: 0;
	li{
		& + li{
			margin-top: 15px;;
		}
		a{
			color: $dark;
			&:hover{
				color: $primary;
			}	
		}
		
		&:before{
			font-family: FontAwesome;
			content: "\f105";
			padding-right: 10px;
			color: $primary;
		}

		span{
			float: right;
			color: $cyan;
		}
	}
}

.profile-list{
	list-style: none;
	padding-left: 0;
	margin-bottom: 0;
	display: flex;
	flex-wrap: wrap;
	background-color: $white;
	border-left: 1px solid $light-gray;
	font-size: 14px;

	li{
		flex-grow: 1;
		text-align: center;
		border: 1px solid $light-gray;
		border-left: none;
		padding-top: 1rem;
		padding-bottom: 1rem;
		padding-left: 4px;
		padding-right: 4px;
	}

	&-title{		
		color: $dark;
		font-weight: 500;
		margin-bottom: 4px;

		&-desc{
			color: black;
		}
	}
}

.profile-img-wrapper{
	overflow: hidden;
	max-height: 330px;
	background-color: $white;
}

span{
	&.ico-sort{
		&:before{
			font-size: 18px;
		}
	}
}

/*Borders*/
.border-gray{
	border: 1px solid $gray-83;	
}

.border-top-gray{
	border-top: 1px solid $gray-83;
}

.border-bottom-none{
	border-bottom: 0;
}

.overflow-hidden{
	overflow: hidden;
}
